#cartContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexItem {
    flex-basis: 100%;
}

#completeOrderButton {
    margin-left: 40%;
    margin-right: 40%;
    padding: .8em;
}